[submodule ".vim/pack/jetpack/opt/vim-jetpack"]
	path = .vim/pack/jetpack/opt/vim-jetpack
	url = https://github.com/tani/vim-jetpack.git
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule ".config/bash/abbr"]
	path = .config/bash/abbr
	url = https://github.com/momo-lab/bash-abbrev-alias.git
[submodule ".config/zsh/zi/bin"]
	path = .config/zsh/zi/bin
	url = https://github.com/z-shell/zi.git
