[submodule ".vim/pack/mypackage/start/vim-hybrid"]
	path = .vim/pack/mypackage/start/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule ".vim/pack/mypackage/start/asyncomplete.vim"]
	path = .vim/pack/mypackage/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/mypackage/start/asyncomplete-lsp.vim"]
	path = .vim/pack/mypackage/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/mypackage/start/vim-lsp"]
	path = .vim/pack/mypackage/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/pack/mypackage/start/vim-lsp-settings"]
	path = .vim/pack/mypackage/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule ".vim/pack/mypackage/start/unite.vim"]
	path = .vim/pack/mypackage/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/mypackage/start/unite-outline"]
	path = .vim/pack/mypackage/start/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule ".vim/pack/mypackage/start/gitignore-vim"]
	path = .vim/pack/mypackage/start/gitignore-vim
	url = https://github.com/benknoble/gitignore-vim.git
[submodule ".vim/pack/mypackage/start/vim-markdown"]
	path = .vim/pack/mypackage/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/pack/mypackage/start/nim.vim"]
	path = .vim/pack/mypackage/start/nim.vim
	url = https://github.com/zah/nim.vim.git
[submodule ".vim/pack/mypackage/start/vim-fish"]
	path = .vim/pack/mypackage/start/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule ".vim/pack/mypackage/opt/vimdoc-ja"]
	path = .vim/pack/mypackage/opt/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule ".vim/pack/mypackage/opt/nerdtree"]
	path = .vim/pack/mypackage/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
